/* Début des modifications */

.description {
    font-size: 23px;
}

.description-2 {
    font-size: 20px;
    font-style: italic;
}

.description-3 {
    font-size: 20px;
}

.taille {
    width: 100%;
}

.background {
    background: rgba(0, 0, 0, 0.555);
    width: 100%;
}

@media screen and (min-width: 767px){
    .icone-row {
        display: flex;
        justify-content: space-between;
    }
}

/* Fin des modification */

